.input-form {
    width: 35%;
    border-radius: 15px;
}
.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.search-body {
    justify-content: center;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
}

.search-success {
    width: 45%;
    height: 10%;
    background-color: lightgray;
    margin-left: 25vw;
}

.explore-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.explore-content {
    margin: 1%;
    display: flex;
    flex-direction: row;
}

.search-button {
    background-color: white;
}

.title {
    color: white;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.title-icon{
    font-size: 3rem;
    margin-left: 1%;
    margin-bottom: auto;
}

.secondary-title{
    color: white;
    font-size: 2rem;
    align-self: center;
}

.grid-layout-custom{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    color: black;
    font-size: larger;
    font-weight: bolder;
  }

 .tile {
      display: flex;
      flex-direction: column;
      margin: 15%;
  }

  .tile-image {
      height: 60%;
      width: 80%;
      justify-content: center;
  }

  .tile-info {
      margin: 1%;
  }

  .add-album {
      margin-bottom: 10%;
      margin-left: 90%;
      background-color: lightgray;
  }

  .add-icon{
      font-size: 4rem;
  }

  .tile-single {
    display: flex;
    flex-direction: column;
    margin: 10%;
    font-size: larger;
    font-weight: bolder;
}

html {
    margin:0px;
    height:100%;
    width:100%;
    background:url('../../assets/vinyl.jpg')no-repeat center center fixed; 
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}


  

