.add-form{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.list-name-label {
  font-size: 2em;
  font-weight: bolder;
  color: white;
}

.add-button {
  border-radius: 15px;
  height: 100%;
  width: 50%;
  font-size: 2em;
  font-weight: bolder;
  background-color: black;
  color: white;
}

.list-name-form {
  font-size: 1em;
  font-weight: bold;
  height: 100%;
  width: 50%;
  border-radius: 15px;
}

.list-description-label {
  font-size: 2em;
  font-weight: bolder;
  color: white;
}

.list-description-form{
  font-size: 1em;
  font-weight: bold;
  height: 100%;
  width: 50%;
  border-radius: 15px;
}

.lists {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  
  .lists li {
    width: 50%;
    display: flex;
    flex-direction: row;
  }

  .lists .delete-button {
    font-weight: bolder;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
  }
  
  .lists .album-button {
    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: white;
    margin: .5em;
    padding: 0;
    border-radius: 15px;
    display: flex;
    align-items: stretch;
    height: 3em;
    text-align: center;
    
  }
  
  .lists button:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  
  .lists button:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .lists button.selected {
    background-color: black;
    color: white;
  }
  
  .lists button.selected:hover {
    background-color: #505050;
    color: white;
  }
  
  .lists button.selected:active {
    background-color: black;
    color: white;
  }
  
  .lists .badge {
    display: inline-block;
    font-size: medium;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .lists .name {
    align-self: center;
    font-size: larger;
    font-weight: bolder;
    color: black;
  }

  html {
    margin:0px;
    height:100%;
    width:100%;
    background:url('../../assets/collection.jpg')no-repeat center center fixed; 
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

.collection-body {
  font-size: 5em;
  height: 100%;
  width: 100%;
}

.collection-header {
  font-size: 10em;
  color: white;
}





