<!--  
<h2>CollectionId : {{listInfo.collectionId}}</h2>
<div><span>OwnerId : {{listInfo.ownerId}}</span></div>
<h2>AlbumIds : {{listInfo.albumIds}}</h2>
<h2>ListName : {{listInfo.name}}</h2>
<h2>ListDesc : {{listInfo.description}}</h2>

<label for ="ListName">List Name: </label>
<input id = "ListName" [(ngModel)]="listInfo.name" placeholder="Name">
-->
<html>
<h1 class="collection-header">My Collections</h1>
<div class="collection-body">
  <ul class="lists">
    <li *ngFor="let list of lists">
      <button [class.selected]="list === selectedList" type="button" (click) = "onSelect(list)" class="album-button">
        <span class="badge"></span>
        <span class="name"> {{list.name}}</span>
      </button>
      <button class="delete-button" (click) = "removeList(list.collectionId)">X</button>
    </li>
  </ul>
</div>

<app-list-detail [list] = "selectedList"></app-list-detail>

<br><br>
<div class="add-form">
  <label class="list-name-label" for="listname">List Name </label>
  <input class="list-name-form" type="text" id="listname" name="listname" [(ngModel)] = "listname"><br><br>
  <label class="list-description-label" for="listdesc">List Description </label>
  <input class="list-description-form" type="text" id="listdesc" name="listdesc" [(ngModel)] = "listdesc"><br><br>
  <button class="add-button" (click)="addList()">Add</button>
</div>
</html>

