<!--  
<h2>CollectionId : {{listInfo.collectionId}}</h2>
<div><span>OwnerId : {{listInfo.ownerId}}</span></div>
<h2>AlbumIds : {{listInfo.albumIds}}</h2>
<h2>ListName : {{listInfo.name}}</h2>
<h2>ListDesc : {{listInfo.description}}</h2>

<label for ="ListName">List Name: </label>
<input id = "ListName" [(ngModel)]="listInfo.name" placeholder="Name">
-->

<h1>My Collections</h1>
<ul class="lists">
  <li *ngFor="let list of lists">
    <button [class.selected]="list === selectedList" type="button" (click) = "onSelect(list)">
      <span class="badge">{{list.collectionId}}</span>
      <span class="name"> {{list.name}}</span>
    </button>
  </li>
</ul>

<app-list-detail [list] = "selectedList"></app-list-detail>
