html {
    margin:0px;
    height:100%;
    width:100%;
    background:url('../../assets/record_player.jpg')no-repeat center center fixed; 
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

