<div *ngIf="list" class = "font-properties">
    <h2>{{list.name}} Details</h2>
    <div>id: {{list.collectionId}}</div>
    <div>
      <label for="list-name">List name: </label>
      <input id="list-name" [(ngModel)]="list.name" placeholder="name">
    </div>
    <div>AlbumIds :</div>
    <div *ngFor="let item of list.albumIds">
       {{item}}
    </div>
    
    <label for="add-album"> Album Id: </label>
    <input type = "text" id = "add-album">
    <button class="butt" (click)="addAlbumId()">+</button>

</div>
