.butt {
    border: 1px outset blue;
    background-color: lightBlue;
    height:13px;
    width:13px;
    cursor:pointer;
    display: inline;
    position: relative;
}

.font-properties {
    font-family: serif;
    font-size: 1.3rem;
    font-weight: bolder;
    color:black;
    border: 2px solid black;
    border-radius: 5%;
    margin:auto
  }

  .delete-button {
    font-weight: bolder;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin-left: 10px;
  }
  
div{
    color:white;
}

h2{
    color:white;
}

label{
    color:white;
}